.mentors-card {
    border: 1px solid;
    margin: 20px;
    padding: 20px;
    width: 50px;
    height: 50px;
    display: inline-flex;
    justify-content: center;
    scroll-behavior: smooth;
    border-radius: 10px;
    cursor: pointer;
}

.modal-content {
    justify-content: space-between;
}

.modal-conten {
    background: #fff;
    border-radius: 10px;
    position: fixed;
    padding: 50px;
    max-width: 100%;
}

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    overflow-y: hidden;
    justify-content: center;
}

.mentordetail-card {
    justify-content: space-around;
    padding: 10px;
}


.mentors-card img {
    width: 100%;
    height: 100px;
}


@media (max-width: 720px) {}

.mentors-card:hover {
    background-color: #f0f0f0;
}

.mentors-card.selected {
    background-color: #007bff;
    color: white;
}

.modal-mentor {
    display: flex;
    justify-content: space-between;
}
#compare-detalis-area {
    max-width: 1500px;
    margin: 50px;
    padding: 20px;
    border-radius: 20px;
    background: #fff;
  }
  
  #academic-courses-area {
    text-align: center;
    display: flex;
    justify-content: space-around;
  }
  
  #uni-col {
    background: #4b0202;
    color: #f0f5f5;
    width: 150px;
    text-align: center;
    align-items: center;
    border-radius: 20px;
    padding: 20px;
  }
  
  #uni-image {
    background: #f0f5f5;
    border-radius: 10px;
    padding: 20px;
    width: 150px;
    height: 100px;
    text-align: center;
    align-items: center;
  }
  
  #uni-logo,
  #uni-img img {
    width: 150px;
    height: 100px;
  }
  
  #uni-row-content {
    margin: 20px;
    display: flex;
    justify-content: space-around;
  }
  
  #edo-course-sec-btn {
    display: inline-block;
    margin: 5px 0;
    padding: 10px;
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    border-radius: 10px;
    background-color: #4b0202;
  
  }
  
  #edo-course-sec-btn:hover {
    background-color: #ffb013;
    color: #141517
  }
  